body {
	font-size: 18px;
}
.content-wrapper {
	max-width: 80%;
	margin: 0 auto;
}
p {
	font-size: 1.1rem;
}

.result {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
}
#buttonPaint {
	margin-right: 1rem;
}
.circle {
	border-radius: 50%;
}